body {
  background-color: #fff;
}

.paso,
.generales {
  border-radius: 5px;
  margin: 25px;
  height: 100px;
  width: 500px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  max-width: 100%;
}

@media (max-width: 768px) {

  .paso,
  .generales {
    width: 100%;
    margin: 10px 0;
  }
}

.paso {
  background-color: var(--magenta);
}

.generales {
  background-color: var(--celeste);
}

.paso a,
.generales a {
  display: flex;
  flex-direction: row;
  align-items: center;

  text-decoration: none;
  color: #fff;
}

.paso span,
.generales span {
  font-size: 28px;
}

.paso:hover,
.generales:hover {
  background-color: var(--gris-claro);
}

.imagen {
  margin: 15px;
  width: 350px;
  max-width: 100%;
  height: auto;
}

.paso-gen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .paso-gen {
    flex-direction: column;
    align-items: center;
  }
}

#sec-titulo {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  margin-top: 15px;
}

@media (max-width: 992px) {
  #sec-titulo {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }

  #sec-titulo img {
    margin: 0 auto;
  }
}

main {
  margin-right: 100px;
  margin-left: 100px;
}

@media (max-width: 768px) {
  main {
    margin-right: 20px;
    margin-left: 20px;
  }
}

#informes {
  display: flex;
  flex-direction: row;
}

#informes:last-child {
  justify-content: right;
}

#consultar {
  text-decoration: none;
  border: none;
}

#consultar:hover {
  background-color: transparent;

}

span {
  display: flex;
  align-items: center;
}